.loading {
    display: flex;
    gap: 0.7em;
}

.loading__dot {
    width: 1em;
    aspect-ratio: 1;
    background-color: #fff;
    border-radius: 50%;
    animation: 0.3s infinite alternate dot-pulse;
    animation-timing-function: linear;
}

.loading__dot.two {
    animation-direction: alternate-reverse;
}

@keyframes dot-pulse {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(0.5);
        background-color: #aaa;
    }
}