* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: "Roboto", sans-serif;
    color: rgb(245, 245, 245);
}

body {
    background-color: rgb(23, 25, 29);
    min-height: 100vh;
    padding: 1rem 1.5rem;
}

main {
    display: grid;
    gap: 4rem;
}

.w-container {
    display: grid;
    gap: 2rem;
}

.w-pri,
.w-sec {
    display: grid;
    gap: 2rem;
}

.w-pri__main {
    display: grid;
    justify-items: center;
}

.w-pri__date {
    margin-bottom: 1rem;
}

.w-pri__img-cont,
.w-sec__img-cont {
    position: relative;
}

.w-pri__img-bg,
.w-sec__img-bg {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    filter: blur(3rem);
    opacity: 0.5;
}

.w-pri__img-cont {
    padding: 1rem 0;
}

.w-pri__temp {
    font-size: 5rem;
}

.w-pri__temp-unit {
    color: rgb(150, 150, 150);
}

.w-pri__cond {
    font-size: 1.5rem;
    color: rgb(150, 150, 150);
}

.w-ext-info {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.2rem;
    justify-self: center;
    padding: 0.5rem 2rem;
    background-color: rgba(150, 150, 150, 0.1);
    border-radius: 1rem;
}

.w-ext-info__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.2rem;
    font-size: 0.9rem;
}

.w-ext-info__icon {
    width: 1.5rem;
    height: auto;
    margin-bottom: 0.2rem;
}

.w-ext-info__label {
    font-size: 0.8rem;
    color: rgb(150, 150, 150);
}

.w-ext-info__sep {
    width: 1px;
    height: 50%;
    background-color: rgba(245, 245, 245, 0.1);
}

.w-sec__title,
.w-days__title,
.w-hours__title {
    font-size: 1.2rem;
    margin-bottom: 1.5rem;
}

.w-hours__list {
    display: flex;
    justify-content: space-between;
    gap: 0.1rem;
}

.w-hour {
    display: grid;
    justify-items: center;
    gap: 0.5rem;
    width: max-content;
    padding: 0.5rem 0.7rem;
    border: 1px solid rgba(245, 245, 245, 0.1);
    border-radius: 0.5rem;
    background-color: rgba(150, 150, 150, 0.1);
    font-size: 0.9rem;
}

.w-hour__img {
    width: 2.5rem;
}

.w-hour__time {
    font-size: 0.8rem;
    color: rgb(150, 150, 150);
}

.w-sec__main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
        "title title"
        "img   temp"
        "img   cond";
    column-gap: 0.5rem;
}

.w-sec__title {
    grid-area: title;
}

.w-sec__img-cont {
    grid-area: img;
    justify-self: center;
    align-self: center;
    margin-right: 2rem;
}

.w-sec__temp {
    grid-area: temp;
    font-size: 3rem;
}

.w-sec__temp-max {
    margin-right: 1rem;
}

.w-sec__temp-min,
.w-sec__cond {
    color: rgb(150, 150, 150);
}

.w-sec__cond {
    grid-area: cond;
    margin-top: 0.4rem;
}

.w-days__list {
    display: grid;
    gap: 2.5rem;
}

.w-day {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.w-day__day {
    width: 2.5rem;
    flex-shrink: 0;
}

.w-day__img {
    width: 2rem;
}

.w-day__cond {
    flex-grow: 1;
}

.w-day__cond,
.w-day__temp-min {
    color: rgb(150, 150, 150);
}

.w-day__temp-max {
    margin-right: 0.2rem;
}

@media (min-width: 425px) {
    .w-hours__list {
        justify-content: space-evenly;
    }
}

@media (min-width: 768px) {
    main {
        gap: 5rem;
    }

    .w-sec__main {
        grid-template-columns: 45% 1fr;
    }

    .w-sec__img-cont {
        justify-self: end;
    }
}

@media (min-width: 1024px) {
    main {
        grid-template-areas:
            "today tomorrow"
            "today next-days";
        grid-template-rows: 1fr 1fr;
        align-items: start;
        max-width: 1024px;
        margin: 0 auto;
        padding: 1rem;
    }

    .w-container {
        gap: 4rem;
    }

    main .w-container:nth-of-type(1) {
        grid-area: today;
    }

    main .w-container:nth-of-type(2) {
        grid-area: tomorrow;
        align-self: end;
    }

    main .w-container:nth-of-type(3) {
        grid-area: next-days;
        align-self: start;
    }

    .w-pri,
    .w-sec {
        gap: 2.5rem;
    }

    .w-sec__title,
    .w-days__title,
    .w-hours__title {
        font-size: 1.3rem;
        margin-bottom: 2rem;
    }

    .w-sec__main {
        grid-template-columns: 40% 1fr;
    }
}